<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Club Details</title>
</head>
<body>
<div th:align="center">
    <a href="/home">Home</a>
    <a href="/users/accountDetails">Account</a>
    <a href="/clubs/currentUser">Club</a>
    <a href="/logout">Logout</a>
</div>
<hr>
<br>
<div th:align="center">
    <!--    <label for="id">Id : </label>-->
    <!--    <input th:readonly="true" type="number" th:field="${club.id}" id="id">-->
    Club id : <p th:text="${club.id}"></p>
    <br>
    <!--    <label for="name">Name : </label>-->
    <!--    <input th:readonly="true" th:type="text" th:field="${club.name}" id="name">-->
    Club's name : <p th:text="${club.name}"></p>
    <br>
    <!--    <label for="code">Invite code : </label>-->
    <!--    <input th:readonly="true" th:type="text" th:field="${club.inviteCode}" id="code">-->
    Invite code : <p th:text="${club.inviteCode}"></p>
</div>
<br>
<hr>
<br>
<table th:align="center" th:border="1">
    <h3 th:align="center">Wanted products</h3>
    <thead>
    <tr>
        <th>Id</th>
        <th>Name</th>
        <th>Description</th>
        <th>Category</th>
        <th>Bought</th>
        <th>Actions</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="wantedProduct : ${wantedProducts}">
        <td th:text="${wantedProduct.id}"></td>
        <td th:text="${wantedProduct.name}"></td>
        <td th:text="${wantedProduct.description}"></td>
        <td th:text="${wantedProduct.category}"></td>
        <td th:text="${wantedProduct.bought}"></td>
        <td>
            <form action="#" th:action="@{/wantedProducts/{id} (id = ${wantedProduct.id})}" th:method="put">
                <input type="hidden" name="_method" value="put"/>
                <input th:type="hidden" th:name="clubId" th:value="${club.id}">
                <button th:type="submit">Mark as bought</button>
            </form>
            <div th:if="${wantedProduct.constrained} == true">
                <form action="#" th:action="@{/productConstraints/{id} (id=${wantedProduct.productConstraintDTO.id})}"
                      th:method="get">
                    <button th:type="Submit">See constraints</button>
                </form>
            </div>
        </td>
    </tr>
    </tbody>
</table>
<form th:align="center" action="#" th:action="@{/wantedProducts/{id} (id = ${club.id})}" th:method="get">
    <button th:type="submit">Add product</button>
</form>
<form th:align="center" action="#" th:action="@{/clubs/unboughtProducts/{id} (id = ${club.id})}" th:method="get">
    <button th:type="submit">See unbought products</button>
</form>
<form th:align="center" action="#" th:action="@{/clubs/boughtProducts/{id} (id = ${club.id})}" th:method="get">
    <button th:type="submit">See bought products</button>
</form>
<form th:align="center" action="#" th:action="@{/clubs/{id} (id = ${club.id})}" th:method="get">
    <button th:type="submit">See all products</button>
</form>
<br>
<hr>
<br>
<table th:align="center" th:border="1">
    <h3 th:align="center">Members</h3>
    <thead>
    <tr>
        <th>Name</th>
        <th>Mail</th>
    </tr>
    </thead>
    <tbody>
    <tr th:each="member : ${members}">
        <td th:text="${member.username}"></td>
        <td th:text="${member.mail}"></td>
    </tr>
    </tbody>
</table>
<br>
<form th:align="center" action="#" th:action="@{/invitations/username/{clubId} (clubId=${club.id})}" th:method="post">
    <label th:for="username">Username of person to invite : </label>
    <input th:type="text" th:name="username" th:placeholder="username">
    <button>Send invitation</button>
</form>
<br>
<form th:align="center" action="#" th:action="@{/invitations/mail/{clubId} (clubId=${club.id})}" th:method="post">
    <label th:for="mail">Mail of person to invite : </label>
    <input th:type="text" th:name="mail" th:placeholder="mail">
    <button>Send invitation</button>
</form>
<br>
<form th:align="center" action="#" th:action="@{/clubs/leave/{clubId} (clubId = ${club.id})}" th:method="put">
    <input type="hidden" name="_method" value="put"/>
    <button th:type="submit">Leave group</button>
</form>
</body>
</html>