<!DOCTYPE html>
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Errors</title>
</head>
<body>
<div th:align="center">
    <a href="/home">Home</a>
    <a href="/users/accountDetails">Account</a>
    <a href="/clubs/currentUser">Club</a>
    <a href="/logout">Logout</a>
</div>
<hr>
<br>
<h1>Error messages</h1>
<table>
    <th:block th:each="message : ${errorMessage}">
        <tr>
            <td th:text="${message}">...</td>
        </tr>
    </th:block>
</table>
</body>
</html>